.course-box{
    position: relative;
    width: 22.8rem;
    height: 30rem;
    background-color: #2F3041;
    box-shadow: rgb(0 0 0 / 11%) 0px 0px 0px 1px;
    margin-top: 2rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    transition: all .3s;
}
.course-box:hover{
    transform: translateY(-0.5rem);
}
.course-box-img{
    width: 100%;
    border-radius: .8rem .8rem 0 0;
}
.campagin{
    background-color: #e91e63;
    position: absolute;
    color: var(--white-color);
    padding: .4rem 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    font-weight: bolder;
    top: 1rem;
    right: 1rem;
}

.course-box__title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.course-box__category{
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: .3rem .8rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 1rem 0 2rem 0;
}
.course-box__product-name{
    color: var(--white-color);
    line-height: 1.5;
}
.course-box__price-student{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 1.5rem 1rem 0 1rem;
    
}
.course-box-price p{
    font-size: 1.5rem;
    color: var(--white-color);
}
.price-campagin{
    margin-top: 2.5rem;
}
.course-price{
  text-decoration: line-through;
  opacity: 0.7;
}
.course-box-student{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.course-box-number-student{
    font-size: 1.3rem;
    color: #cdb187;
    font-weight: 900;
}
.course-box-student-text{
    margin-top: 1rem;
    font-size: 1.5rem;
}