@media (max-width: 980px) {

    /* header */
    .top__bar{
        display: none;
    }
    .section-content{
        margin-top: -3rem;
    }
    .nav__bar__right{
        width: 55%;
        justify-content: space-between;
    }
    .menu-icon-hamburger-btn{
        display: block;
        visibility: visible;
        margin-right: 1rem;
    }
    .nav__bar__menu-right{
        display: none;
    }
    .search-form{
        display: none;
    }
    .nav__bar__menu-left .nav__bar__item{
        margin: 0 1rem;
    }
    .box-profile{
        visibility: hidden;
        display: none;
    }
    .box-profile-small{
        visibility: visible;
        display: flex;
    }
     .nav__bar__dropdown{
        display: none;
        visibility: hidden;
    }
     /* End of header */

    .title-section-content{
        width: 47rem;
        text-align: center;
        line-height: 2;
    }
    .box-search input{
        width: 48rem;
    }
    .icon-angle-section{
        font-size: 3.5rem;
    }
    .courses-container{
        grid-template-columns: repeat(3 , 23rem);
        margin-top: 5rem;
        column-gap: 1rem;
    }
    /* footer */
    .footer{
        height: 120vh;
        margin-top: 60rem;
    }
    .footer-title{
        margin-left: 27rem;
    }
    .footer-links-contact{
        padding: 0 1rem;
        font-size: 1.4rem;
    }
    /* End of footer */


    /* login */
    .social-login{
        margin-top: 0rem;
        padding-bottom: 2rem;
    }

    .login-container{
        margin-top: 1rem;
        margin-bottom: 50rem;
    }
    .account-login-inner-form-item {
        width: 100%;
        margin-bottom: 3rem;
    }
    .login-btn{
        width: 25%;
    }
    .forget-password-btn{
        width: 60%;
    }

    /* End of login */

    /* course */
    .page-title{
        flex-direction: column;
    }
    .course-introduction-right{
        width: 50%;
    }
    .course-introduction-left {
        width: 50%;
    }
    .course-introduction-left{
        margin-top: 6rem;
    }
    .course-introduction-left__bottom {
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .prduct-price{
        right: 3rem;
    }
    .prduct-price::before {
        left: 23rem;
    }
    .course-introduction-left__bottom div {
        margin: 1.5rem .5rem;
    }
    .course-details__boxes{
        flex-wrap: wrap;
    }
    .course-details-box{
        margin: 1rem 2rem;
    }
    /* End of course */

    /* articles */
    .articles{
      flex-direction: column;
    }
    .article-section{
        width: 100%;
    }
    .articles-side-bar{
        width: 100%;
        height: auto;
    }
    .articles-side-bar-courses__boxes{
        width: 100%;
    }
   .articles-side-bar-courses-box__left{
        margin-left: 10rem;
   }
    /* articles */

     /* episode */
    .tutor-lesson-sidebar{
        display: none;
    }
    .episode-container-video{
        width: 100%;
        height: 90vh;
    }
    /* End of episode */
}

@media (max-width: 750px){
    html{
        font-size: 58%;
    }
    .courses-container{
        grid-template-columns: repeat(3 , 22rem);
        column-gap: 2rem;
    }
    /* footer */
    .footer-form-work p{
        width: 12rem;
    }
    .footer-links-1{
        padding-right: .5rem;
    }
    .footer-links-2{
        width: 8rem;
        margin-top: 3rem;
    }
    .footer-links-2 .footer-link{
        line-height: 2;
        padding-bottom: .5rem;
    }
    .footer-links-2 .footer-link-popular::after{
        width: 3.6rem;
        height: 1.4rem;
        font-size: .8rem;
        right: .5rem;
        padding: 0 .4rem .4rem .3rem;
    }
    /* End of footer */


    
}


@media (max-width: 700px){
    .title-section-content{
        width: 40rem;
        font-size: 1.6rem;
    }
    .courses-container{
        grid-template-columns: repeat(2 , 24rem);
        margin-top: 5rem;
        column-gap: 1rem;
    }
    .box-search input{
        width: 44rem;
        margin-right: 2rem;
    }
    .footer-title{
        width: 65%;
        margin-left: 0rem;
        font-size: 1.8rem;
    }
    .footer-text{
        width: 98%;
        font-size: 1.8rem;
        padding: .5rem 1rem;   
    }
    .footer-contact-us p{
        line-height: 2;
    }

    /* login */
    .account-login-inner{
        width: 95%;
        right: 3%;
    }
    /* End of login */

    /* register */
    .account-register-inner{
        width: 95%;
        position: absolute;
        right: 3%;
    }
    /* End of register */
    .income-table{
        overflow: hidden;
    }
    .income-table__countries p{
        margin: 0 2.5rem;
    }
    .income-table__rights p{
        margin: 0 2rem;
    }
  
}

@media (max-width: 608px) {

    .page-title{
        text-align: center;
        flex-direction: column;
        line-height: 2;
        margin-bottom: 4rem;
    }
   
    .course-introduction{
        flex-direction: column;
    }
    .course-introduction-right{
        width: 80%;
    }
    .course-introduction-left {
        width: 100%;
    }
    .course-introduction-left__bottom {
        flex-direction: row;
        margin: 0;
    }
}

@media (max-width: 540px) {
    html{
        font-size: 55%;
    }
    
    .footer{
        height: auto;
    }
     .footer-container{
       padding-top: 3rem;
    }
      .footer-links-contact{
        flex-wrap: wrap;
        font-size: 1.8rem;
    }
    .footer-copyright{
        padding: 0;
        margin: 3rem 0;
    }
   
  
}
@media (max-width: 440px) {
    html{
        font-size: 50%;
    }
    .box-search input{
        width: 40rem;
        margin-right: 2rem;
    }
    
}


@media (max-width: 400px) {
    html{
        font-size: 45%;
    }
 
    
}
@media (max-width: 355px) {
    html{
        font-size: 40%;
    }
    .courses-container{
        grid-template-columns: repeat(2 , 20rem);
        column-gap: 1rem;
    }
    .course-box{
        width: 20rem;
        height: 30rem;
        margin-top: 2rem;
    }
 
    
}
   
